/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Caladea';
}
#home-body {
  background-image: url(https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-color: #2f455e;
}
#home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-div-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12.5%;
  margin-bottom: 3vh;
}
#name {
  font-size: 3em;
  color: #eff3f8;
  margin-bottom: 3vh;
}
#home-subtitle {
  font-size: 2.25em;
  color: #eff3f8;
}
.main-div-two p {
  color: #eff3f8;
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 7.5%;
}
.main-div-two {
  display: flex;
  flex-direction: column;
}
.buttons-div {
  display: flex;
  justify-content: space-around;
}
.home-buttons {
  width: 10rem;
  color: #eff3f8;
  background-color: #2f455e;
  border: solid #eff3f8 2px;
  border-radius: 7px;
  font-size: 1.15em;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-family: 'Caladea';
}
.buttons-div button:hover {
  cursor: pointer;
}
#portfolio-body {
  background-image: url(https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-color: #2f455e;
  color: #eff3f8;
}
#projects {
  margin-top: 7.5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
.major {
  font-size: 1.75em;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.minor {
  font-size: 1.45em;
}
#about-body {
  background-image: none;
  background-color: #ffffff;
  color: #2f455e;
}
#about {
  display: flex;
  margin-top: 3.5%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}
.about-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#about-img {
  width: 90%;
  height: auto;
  border-radius: 5%;
}
#about h2 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5vh;
}
#contact-body {
  background-image: url(https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-color: #2f455e;
  color: #eff3f8;
}
#header {
  width: 100%;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: #2f455e;
  height: 7.5vh;
}
.nav-links {
  color: #eff3f8;
  text-decoration: none;
  padding-left: 2%;
  font-size: 1em;
}
.last-link {
  padding-right: 2%;
}
